<div class="mt-10 mb-5">
    <div class="flex flex-col items-center justify-center gap-4">
      <div
        class="px-5 py-3 rounded-md uppercase bg-gray-200 dark:bg-gray-800 text-gray-800 dark:text-gray-200"
      >
        Contact
      </div>
      <div class="flex flex-col gap-2 items-center text-center">
        <p class="text-3xl font-bold tracking-tighter sm:text-5xl">
          Get in Touch
        </p>
        <p
          class="md:text-[16px] max-w-[700px] text-[14px] text-gray-500 dark:text-gray-400"
        >
          Want to chat? Just shoot me a DM with a
          <a
            href="https://www.linkedin.com/in/prabhasutla/"
            target="_blank"
            class="text-blue-500"
            rel="noopener noreferrer"
          >
            direct question on Linkedin
          </a>
          and I&apos;ll respond whenever I can. I will ignore all soliciting.
        </p>
      </div>
    </div>
  </div>