<div class="flex flex-col gap-4">
    <p class="text-xl font-bold">Education</p>
    <div class="flex flex-col gap-4 w-full">
      <app-education
        degree="Bachelor in Information Technology"
        name="B.N.N College, Bhiwandi"
        startDate="2020"
        endDate="2023"
        image="/college.jpg"
      ></app-education>
      <app-education
        degree="12th Commerce"
        name="B.N.N College, Bhiwandi"
        startDate="2019"
        endDate="2020"
        image="/college.jpg"
      ></app-education>
      <app-education
        degree="10th STD"
        name="P.E.M High School, Bhiwandi"
        startDate="2017"
        endDate="2018"
        image="/school.jpg"
      ></app-education>
    </div>
  </div>