<div class="flex flex-col gap-4">
    <p class="text-xl font-bold">Education</p>
    <div class="flex flex-col gap-4 w-full">
      <app-education
        degree="B-tech in Computer Science"
        name="Maharishi Markandeshwar University, Mullana"
        startDate="2020"
        endDate="2024"
        image="/assets/mmu.jpg"
      ></app-education>
      <app-education
        degree="12th Grade Non-Medical"
        name="SMB Gita Sr. Sec. School ,Kurukshetra"
        startDate="2018"
        endDate="2019"
        image="/assets/smb.jpg"
      ></app-education>
      <app-education
        degree="10th Grade"
        name="DAV Centenary Public School, Radaur"
        startDate="2016"
        endDate="2017"
        image="/assets/dav.png"
      ></app-education>
    </div>
  </div>