<div class="flex flex-col gap-4">
  <p class="text-xl font-bold">Skills</p>
  <div class="flex flex-wrap items-center gap-2">
    <app-badge>
      <img class="w-5 mx-1" src="/javascrpit.jpg" alt="">
      Javascript</app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/typescrpit1.png" alt="">
      Typescript</app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/favicon.ico" alt="">
      Angular
    </app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/ionic-bg.png" alt="">
      Ionic
    </app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/capcity.png" alt="">
      Capacitor
    </app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/RxJs.png" alt="">
      RxJs</app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/react.png" alt="">
      React</app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/tailwind.svg" alt="">
      Tailwind</app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/matu.png" alt="">
      Material UI</app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/html.png" alt="">
      HTML</app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/css.png" alt="">
      CSS</app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/node.png" alt="">
      Node.js</app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/python.png" alt="">
      Python</app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/mangodb.png" alt="">
      MongoDB</app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/mysql.png" alt="">
      MYSQL</app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/git.png" alt="">
      Git</app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/github.png" alt="">
      GitHub</app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/gitlab.png" alt="">
      GitLab</app-badge>
    <app-badge>
      <img class="w-5 mx-1" src="/aggrid.png" alt="">
      AGgrid</app-badge>
    <!-- <app-badge>WebRTC</app-badge> -->
    <!-- <app-badge>Git</app-badge>
      <app-badge>CI/CD</app-badge> -->
    <!-- <app-badge>Unit Testing</app-badge> -->
    <!-- <app-badge>Integration Testing</app-badge> -->
  </div>
</div>