<div class="flex flex-col gap-4">
    <p class="text-xl font-bold">Skills</p>
    <div class="flex flex-wrap items-center gap-2">
      <app-badge>Javascript</app-badge>
      <app-badge>Typescript</app-badge>
      <app-badge>Java</app-badge>
      <app-badge>React</app-badge>
      <app-badge>Redux</app-badge>
      <app-badge>Tailwind</app-badge>
      <app-badge>Next.js</app-badge>
      <app-badge>Node.js</app-badge>
      <app-badge>Express.js</app-badge>
      <app-badge>MongoDB</app-badge>
      <app-badge>PostgreSQL</app-badge>
      <app-badge>Prisma</app-badge>
      <app-badge>Docker</app-badge>
      <app-badge>WebSockets</app-badge>
      <app-badge>WebRTC</app-badge>
      <app-badge>Git</app-badge>
      <app-badge>GitHub</app-badge>
      <app-badge>CI/CD</app-badge>
      <app-badge>Unit Testing</app-badge>
      <app-badge>Integration Testing</app-badge>
    </div>
  </div>